/* Other major browsers */
* { box-sizing: border-box; }

body { background: #120E14; color: #B0CDFF; font-family: "Fira Mono", monospace; font-size: 16px; line-height: 1.25em; margin: 0 auto; margin-bottom: 120px; padding: 0px; max-width: 550px; text-rendering: geometricPrecision; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media screen and (max-width: 630px) { body { padding: 0px 40px; } }
header { margin: 140px 0px 45px; text-transform: uppercase; }
header .site-title a { text-decoration: none; font-size: inherit; line-height: inherit; }
header .devlog-title { font-weight: bold; }
header nav { margin-top: 20px; }
header .svglink, header svglink:hover { text-decoration: none; }
header nav svg { fill: #B0CDFF; width: 24px; }
header nav svg:hover { fill: #B0B7FF; }

a { color: #B0CDFF; font-size: inherit; line-height: inherit; }

a:hover { color: #B0B7FF; font-size: inherit; line-height: inherit; }

h1 { font-size: 16px; line-height: 1.25em; text-transform: uppercase; font-weight: normal; padding: 0px; margin: 0px; }

h2, h3, h4, h5, h6 { font-size: 14px; line-height: 1em; text-transform: uppercase; font-weight: normal; padding: 0px; margin: 0px; }


p { margin: 20px 0px; padding: 0px; }

img, video { width: 100%; margin: 20px 0px; padding: 0px; }

audio { width: 50%; margin-bottom: 20px; padding: 0px; background: #120E14; }

.ipa { font-family: monospace, sans-serif;}

.email { font-family: monospace; font-weight: bold; margin-top: 5px; }

::selection {
  background: #992542; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #992542; /* Gecko Browsers */
}
