{{define "footer"}}
    <div id="footer">
        <a class="btn btn-social-icon btn-sm btn-github" href="http://github.com/mguindin" rel="nofollow">
            <i class="fa fa-github"></i>
        </a>
        <a class="btn btn-social-icon btn-sm btn-twitter" href="http://www.twitter.com/rorschachex" rel="nofollow">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-social-icon btn-sm btn-google-plus" href="http://plus.google.com/+MatthewGuindin" rel="nofollow">
            <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-social-icon btn-sm btn-linkedin" href=http://www.linkedin.com/profile/view?id=56716244" rel="nofollow">
            <i class="fa fa-linkedin"></i>
        </a>
    </div>
    <div id="footer">
        <p>&copy; 2014 Matthew Guindin</p>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/public/js/bootstrapValidator.min.js" type="text/javascript"></script>
    <script src="/public/js/scroll.js" type="text/javascript"></script>
    <script src="/public/js/geo.js" type="text/javascript"></script>
    <script src="/public/js/lunchValidation.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
