{{define "header"}}
<!DOCTYPE html>

<html>
  <head>
    <title>Matt Guindin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matt Guindin index">
    <meta name="author" content="Matt Guindin">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrapValidator.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/ico/favicon.ico">
    <link rel="apple-touch-icon" href="/public/ico/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/ico/bootstrap-apple-114x114.png">
  </head>
<body data-spy="scroll" data-offset="41">
{{end}}