{{template "header"}}
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll-top" href="#">Matt</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#about" class="scroll-link">About</a></li>
                <li><a href="#projects" class="scroll-link">Projects</a></li>
                <li><a href="#resume" class="scroll-link">Résumé</a></li>
                <li><a href="#contact" class="scroll-link">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container white-hero" role="main">

    <section id="home">
        <div class="jumbotron">
            <h1>Matt Guindin</h1>
            <br>
            <p>I am an opinionated engineer with interests in high-performance computing, automation, and robotics.  My current interests involve <a href="http://static.googleusercontent.com/media/research.google.com/en/us/archive/mapreduce-osdi04.pdf">MapReduce</a> (using Hadoop and HBase for storage), streaming processing (with Storm), the Go programming language, and Scala.</p>
            <p>I've spent a lot of my career programming in Java and PHP.  Due to that, I'm trying to learn more effective programming habits (thanks, PHP) and avoid early onset carpal tunnel from coding with verbose dialects (I'm looking at you Java).</p>
            <p>In my free time, I enjoy biking, photography, and <a href="http://steamcommunity.com/profiles/76561197965597455">gaming.</a>  I even enjoy programming <a href="http://github.com/mguindin">after hours</a> and am attempting to teach my girlfriend how to code (and will probably document the process).  My terse musings can be found on twitter <a href="https://twitter.com/rorschachex">@rorschachex</a></p>
        </div>
    </section>
    <section id="about">
        <div class="page-header">
        </div>

        <h1>About</h1>

        <div class="row">
            <div class="col-md-8">
                <h1>Matthew Guindin</h1>
                <h2>(/ˈmæθjuː ’gɪn.dɪn/)</h2>
                <p>The entire reason I set this up is to have the correct pronunciation of my surname posted.  It's a point of both grief and pride and is the reason for this site's origin.</p>
                <br>

            </div>
        </div>

    </section>
</div>
<div class="container">
<div class="blue-section">
    <section id="projects">
        <div class="page-header">
        </div>
        <h1>Projects</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <h2>Vehicle Dashboard</h2>
                    <p>This vehicle dashboard moves away from the bulky, expensive designs that utilize analog gauges and leverages a digital tachometer consisting of an array of LEDs as well as a gear indicator 7-segment display.</p>
                    <p>The device is a latch-based design that gets information from the car's custom Engine Control Module, which was also designed in-house for the project.  Physical features of the dashboard are the fiberglass shell and lexan screen which has been water-proofed to withstand wet Ithaca, NY weather.</p>
                    <p>Article about the 2005 Formula SAE Championship featuring the Cornell team can be found <a href="http://www.roadandtrack.com/racing/motorsports/build-on-saturday-race-on-sunday">here</a>.</p>
                    <p><a class="btn" href="https://www.cornellfsae.com/history.html">View Cornell FSAE Info &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>OASIS</h2>
                    <p>The <b>O</b>perational <b>A</b>wareness <b>S</b>ecure <b>I</b>nformation <b>S</b>ystem is a <a href="http://en.wikipedia.org/wiki/Blue_Force_Tracking">Blue-Force Tracker</a> / <a href="http://en.wikipedia.org/wiki/Information_sharing">Information Sharing</a>
                        Device for military use.  The design of the device was conducted as part of my Master of Engineering project at Cornell University from 2010-2011 with Jack Cheung, Jason Yen, and James Wei</p>
                    <p>The device's design consisted of a Texas Instruments OMAP ARM processor, tablet phone form-factor, and a SAASM GPS module.</p>
                    <p>A simple working demo of the main interface can be found <a href="./oasis.html">here</a>.
                    <p><a class="btn" href="https://github.com/mguindin/OASIS">View demo source &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Ghost-Writing Robot</h2>
                    <p>This project consisted of using two Atmel ATMega32 microcontrollers (AVR) communicating with each other using 433MHz transcievers.  The purpose of the project was to utilize a novel drivetrain consisting of a large steel ball (converted ball-bearing) as both a pivot and main driver. </p>
                    <p>The class project page for this project can be found <a href="http://instruct1.cit.cornell.edu/courses/ee476/FinalProjects/s2008/mbg35_ms458/mbg35_ms458/index.html">here</a>.</p>
                    <p><a class="btn" href="https://github.com/mguindin/Ghost-Writing-Robot">View project source &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <h2>Github Projects</h2>
                    <p>In my free time, I've developed a few projects and little programs to explore different languages, concepts, as well as solve more pressing concerns - like <a href="http://github.com/mguindin/goLunch">what to eat right now</a></p>
                </div>
            </div>
        </div>
    </section>
</div>
    </div>
<div class="container">
    <section id="resume">
        <div class="page-header">
        </div>
        <h1>Résumé</h1>

        <div class="row">
            <div class="col-md-12">
                <h2>Work Experience</h2>
                <h3><a href="http://www.hooklogic.com">HookLogic</a> - Data Platform Engineer</h3>
                <p><i>March, 2014 - present</i>&emsp;&emsp;Working on building out high performance distributed processing system for batch and real-time data processing</p>
                <p>Technologies I'm currently working with:</p>
                <ul>
                    <li>Java, Scala, C#</li>
                    <li>Hadoop, Hive, HBase, ZooKeeper</li>
                    <li>Microsoft SQL Server</li>
                    <li>Storm</li>
                    <li>Amazon Web Services</li>
                </ul>
                <h3><a href="http://www.sailthru.com">Sailthru</a> - Developer</h3>
                <p><i>November, 2011 - January, 2014</i>&emsp;&emsp;Worked as a backend developer using PHP, Java, MongoDB, and a lot of *nix.</p>
                <ul>
                    <li><i>Query</i><p>Fleshed out query tool for segmenting clients' profiles (users) using a variety of criteria based off of client-submitted as well as Sailthru-derived data. I also ported the PHP variant into more performant Java while maintaining all existing functionality and adding new features.</p>
                    <li><i>Campaign Generation</i><p>Implemented many performance and feature improvements to campaign generation code.  I am also in the process of porting over the older single-threaded PHP code to multithreaded Java using the Java version of Query code that I created.</p>
                    <li><i>Campaign Statistics</i><p>Improved legacy campaign statistics performance by up to 70% by investigating and refactoring unnecessary data movement and utilization.  Designed and coordinated completely refactoring the old job-oriented statistics process into 'realtime' event-oriented statistics collection eliminating a previously unsightly and painful delay between campaign sending and initial statistics calculations.  This refactoring also saves the company money in bandwidth costs and storage of flat files produced from the old process.</p>
                    <li><i>Sandbox</i><p>Created one-line development environment creation/instatiation using Vagrant, Chef, and custom REST APIs as well as an automated backend database sanitization system to get new developers coding within an hour of getting access to Sailthru repos and facilities.</p>
                    <li><i>Dev-Ops</i><p>Part of my role within Sailthru involves investigating and planning software and system architecture, developing a wide variety of internal tools (like the Sandbox above), as well as performing occasional spot maintenance and performance analysis of our existing infrastructure.</p>
                </ul>
                <h3><a href="http://www.lockheedmartin.com">Lockheed Martin</a> - Associate Engineer</h3>
                <p><i>June, 2008 - November, 2011</i>&emsp;&emsp;Worked on a variety of projects supporting different submarine technologies leveraging Java, Unix, requirements creation and test.</p>
                <ul>
                    <li><i>Information Assurance</i><p>Helped incorporate DoD information security requirements into next-generation submarine navigator.</p>
                    <li><i>Acoustic Rapid COTS Insertion (ARCI)</i><p>Worked on data storage system tasks including implementation of new XML-based data parser for sonar data.
                        Also  analyzed and remedied kernel panics in Red Hat Enterprise Linux 4 and 5.</p>
                    <li><i>Focused Acoustics Naval Tactical Array (FANTA)</i><p>Project was a result of winning internal R&D money.  Worked with 3 other young engineers to simulate, build, and test prototype for
                        novel sonar device.  Performed simulations using MATLAB and helped fabricate prototype.  Project was performed during off-hours from ARCI.</p>
                    <li><i>Engineering Leadership Development Program</i><p>Selected as part of a group of young engineers to build leadership abilities through additional project work</p>
                        <ul>
                            <li><i>SHip Enterprise Layered Defense (SHIELD)</i> - Lead Software Engineer
                            <li><i>RMMV Mock Proposal</i> - Hardware design/estimate and proposal organization
                        </ul>
                </ul>

                <h2>Education</h2>
                <h4>M.Eng. Systems Engineering</h4>
                <h4>Cornell University&emsp;May, 2011</h4>
                <ul>
                    <li>Project Management</li>
                    <li>Applied Systems Engineering</li>
                    <li>Supply Chain Management</li>
                    <li>Risk Analysis and Management</li>
                    <li>Entrepreneurship</li>
                </ul>
                <br>
                <h4>B.S. Electrical and Computer Engineering</h4>
                <h4>Cornell University&emsp;May, 2008</h4>
                <ul>
                    <li>Microcontrollers (Atmel AVR)</li>
                    <li>Computer Architecture</li>
                    <li>Computer Organization</li>
                    <li>MicroElectroMechanical Systems (MEMS)</li>
                    <li>Data Structures and Algorithms</li>
                    <li>Computer Networks</li>
                    <li>Formula SAE</li>
                </ul>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section id="contact">
        <h2>Contact Matt</h2>
        <div class="row">
            <div class="col-md-12">
                <p>m&emsp;<i>at</i>&emsp;guindin.com</p>
                <p style="font-size:10px;">Get it??</p>
            </div>
        </div>
    </section>
    <hr>
</div> <!-- /container -->
{{template "footer"}}
