{{template "header"}}

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Matt</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html#about">About</a></li>
                <li><a href="index.html#projects">Projects</a></li>
                <li><a href="index.html#resume">Résumé</a></li>
                <li><a href="index.html#contact">Contact</a></li>
                <li class="active"><a href="#">Lunch!</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container white-hero" role="main">
    <section id="lunch-selection">
        <div class="jumbotron">
            <p>What will you be having?</p>
            <div id="geo"></div>
            <form id="lunchInput" action="/lunch-submit" method="post">
                <div class="form-group">
                    <label for="latlong">Location (lat/long geo)</label>
                    <textarea class="form-control" name="latlong" id="latlong" placeholder=""></textarea>
                    <label for="location">Location (zip code)</label>
                    <input type="text" class="form-control" name="location" id="location" placeholder="10021">
                    <label for="cuisine">Cuisine</label>
                    <input type="text" class="form-control" name="cuisine" id="cuisine" data-provide="typeahead" placeholder="Thai">
                    <span class="help-block" id="cuisineMessage"></span>
                    <label for="radius">Radius</label>
                    <input type="text" class="form-control" name="radius" id="radius" placeholder="0.1">
                    <span class="help-block" id="radiusMessage"></span>
                    <label for="choice">Choice</label>
                    <input type="text" class="form-control" name="choice" id="choice" placeholder="1">
                    <span class="help-block" id="choiceMessage"></span>
                </div>
                <br>
                <input class="btn btn-primary" type="submit" value="Find me food!">
            </form>
            <p>Result:</p>
            <pre>{{.}}</pre>
        </div>
    </section>
</div>
{{template "footer"}}