{{template "header"}}

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Matt</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html#about">About</a></li>
                <li><a href="index.html#projects">Projects</a></li>
                <li><a href="index.html#resume">Résumé</a></li>
                <li><a href="index.html#contact">Contact</a></li>
                <li class="active"><a href="#">Lunch!</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container white-hero" role="main">
    <section id="lunch-selection">
        <div class="jumbotron">
            <p>What will you be having?</p>
            <div id="geo"></div>
            <form action="/lunch-submit" method="post">
                Location (lat/long geo): <textarea name="latlong" id="latlong" rows="1" cols="60"></textarea><br>
                Location (zip code): <textarea name="location" id="location" rows="1" cols="60">10021</textarea><br>
                Cuisine: <textarea name="cuisine" rows="1" cols="60">thai</textarea><br>
                Radius (miles): <textarea name="radius" rows="1" cols="60">0.1</textarea><br>
                Choice (1-10): <textarea name="choice" rows="1" cols="60">1</textarea><br>
                <br>
                <input type="submit" value="Find me food!">
            </form>
            <p>Result:</p>
            <pre>{{.}}</pre>
        </div>
    </section>
</div>
{{template "footer"}}